@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200&display=swap');
body{
   
    /*background-color: #4d73ff;
background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'
%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v
-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/

height: 100%;
color:#fff;
background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
	
background-size: 400% 400%;
position: relative;
animation: change 10s ease-in-out infinite;
background-attachment: fixed;
  transform-style: preserve-3d;
	overflow-x:hidden;
	overflow-y:scroll;

    
padding-bottom:20px;
	}
h1{
    font-size: 40px;
    color: white;
    font-family: 'Merriweather', serif;
    display: block;
    
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
	
}
h2{
    font-size: 25px;
    color: white;
     font-family: 'Catamaran', sans-serif;
}
h3{
     font-family: 'Rubik', sans-serif;
    font-size: 35px;
    display: block;
   
    margin-block-start: .2em;
    margin-block-end: .2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
   
}
#num, #output,#o1,#o2,#o3,#o4,#o5,#o6,#o7,#o8,#num1,#num2,#num3,#output1,#output2,#output3{
    background-color: white;
    font-weight: bold;
 font-size: 15px;
    
}
#b1,#b2,#b3,#b4{
    color: black;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  border: 5px solid white;
    width: 100x;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
	cursor: pointer;
   
}
::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    opacity: 50%;
    font-weight: bold;

}
input{
    border: 5px solid white;
    border-radius: 5px;
}
@keyframes change{
    0%{
        background-position: 0 50% ;

    }
    50%{
        background-position: 100% 50% ;
        
    }
    100%{
        background-position: 0 50% ;
        
    }
}
label{
    font-weight: bold;font-size: 20px; color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"
}
.row{
    width: 100%;
}
@media (min-width:992px){
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
        float: left;
        
    }
    .col-lg-1{
        width: 100%;
    }
    .col-lg-2{
        width: 100%;
    }
    .col-lg-3{
        width: 100%;
    }
    .col-lg-4{
        width: 100%;
    }
    .col-lg-5{
        width: 100%;
    }
    .col-lg-6{
        width:100%;
    }
    .col-lg-7{
        width: 100%;
    }
    .col-lg-8{
        width: 10%;
    }
    .col-lg-9{
        width: 100%;
    }
    .col-lg-10{
        width: 100%;
    }
    .col-lg-11{
        width: 100%;
    }
    .col-lg-12{
        width: 100%;
    }
}
@media (min-width:768px) AND (max-width:991px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12{
        float: left;
        
    }
    .col-md-1{
        width: 100%;
    }
    .col-md-2{
        width: 100%;
    }
    .col-md-3{
        width:100%;
    }
    .col-md-4{
        width:100%;
    }
    .col-md-5{
        width: 100%;
    }
    .col-md-6{
        width:100%;
    }
    .col-md-7{
        width: 100%;
    }
    .col-md-8{
        width: 100%;
    }
    .col-md-9{
        width:100%;
    }
    .col-md-10{
        width:100%;
    }
    .col-md-11{
        width: 100%;
    }
    .col-md-12{
        width: 100%;
    }
}

